CityService/CityService.Service/Service References/KnowAllServiceReference/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInfoXml">
        <s:complexType />
      </s:element>
      <s:element name="GetInfoXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoXmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetcaseinfoByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetcaseinfoByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetcaseinfoByGuidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceCompany">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceCompanyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceCompanyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceEquipment">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceEquipmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceEquipmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInfoXmlSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfoXml" />
  </wsdl:message>
  <wsdl:message name="GetInfoXmlSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoXmlResponse" />
  </wsdl:message>
  <wsdl:message name="GetcaseinfoByGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetcaseinfoByGuid" />
  </wsdl:message>
  <wsdl:message name="GetcaseinfoByGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetcaseinfoByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceCompanySoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceCompany" />
  </wsdl:message>
  <wsdl:message name="GetServiceCompanySoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceEquipmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceEquipment" />
  </wsdl:message>
  <wsdl:message name="GetServiceEquipmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceEquipmentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetInfoXml">
      <wsdl:input message="tns:GetInfoXmlSoapIn" />
      <wsdl:output message="tns:GetInfoXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetcaseinfoByGuid">
      <wsdl:input message="tns:GetcaseinfoByGuidSoapIn" />
      <wsdl:output message="tns:GetcaseinfoByGuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceCompany">
      <wsdl:input message="tns:GetServiceCompanySoapIn" />
      <wsdl:output message="tns:GetServiceCompanySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceEquipment">
      <wsdl:input message="tns:GetServiceEquipmentSoapIn" />
      <wsdl:output message="tns:GetServiceEquipmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfoXml">
      <soap:operation soapAction="http://tempuri.org/GetInfoXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetcaseinfoByGuid">
      <soap:operation soapAction="http://tempuri.org/GetcaseinfoByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceCompany">
      <soap:operation soapAction="http://tempuri.org/GetServiceCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceEquipment">
      <soap:operation soapAction="http://tempuri.org/GetServiceEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfoXml">
      <soap12:operation soapAction="http://tempuri.org/GetInfoXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetcaseinfoByGuid">
      <soap12:operation soapAction="http://tempuri.org/GetcaseinfoByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceCompany">
      <soap12:operation soapAction="http://tempuri.org/GetServiceCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceEquipment">
      <soap12:operation soapAction="http://tempuri.org/GetServiceEquipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://58.210.227.103:8085/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://58.210.227.103:8085/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>