CityService/CityService.Service.Controllers/Service References/DateTransformServiceReference/DataTransformService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataTransformService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SelectProvidentFundService/DataTransformService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SelectProvidentFundService/DataTransformService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataTransformService_GetProvidentFund_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidentFund" />
  </wsdl:message>
  <wsdl:message name="IDataTransformService_GetProvidentFund_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidentFundResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransformService_GetProvidentFundDepositInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidentFundDepositInfo" />
  </wsdl:message>
  <wsdl:message name="IDataTransformService_GetProvidentFundDepositInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidentFundDepositInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransformService_GetProvidentFundLoanInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidentFundLoanInfo" />
  </wsdl:message>
  <wsdl:message name="IDataTransformService_GetProvidentFundLoanInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidentFundLoanInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransformService_GetProvidentFundRepayInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidentFundRepayInfo" />
  </wsdl:message>
  <wsdl:message name="IDataTransformService_GetProvidentFundRepayInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidentFundRepayInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDataTransformService_SendCheckCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCheckCode" />
  </wsdl:message>
  <wsdl:message name="IDataTransformService_SendCheckCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCheckCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataTransformService">
    <wsdl:operation name="GetProvidentFund">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransformService/GetProvidentFund" message="tns:IDataTransformService_GetProvidentFund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransformService/GetProvidentFundResponse" message="tns:IDataTransformService_GetProvidentFund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvidentFundDepositInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransformService/GetProvidentFundDepositInfo" message="tns:IDataTransformService_GetProvidentFundDepositInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransformService/GetProvidentFundDepositInfoResponse" message="tns:IDataTransformService_GetProvidentFundDepositInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvidentFundLoanInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransformService/GetProvidentFundLoanInfo" message="tns:IDataTransformService_GetProvidentFundLoanInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransformService/GetProvidentFundLoanInfoResponse" message="tns:IDataTransformService_GetProvidentFundLoanInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvidentFundRepayInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransformService/GetProvidentFundRepayInfo" message="tns:IDataTransformService_GetProvidentFundRepayInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransformService/GetProvidentFundRepayInfoResponse" message="tns:IDataTransformService_GetProvidentFundRepayInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCheckCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataTransformService/SendCheckCode" message="tns:IDataTransformService_SendCheckCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataTransformService/SendCheckCodeResponse" message="tns:IDataTransformService_SendCheckCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataTransformService" type="tns:IDataTransformService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProvidentFund">
      <soap:operation soapAction="http://tempuri.org/IDataTransformService/GetProvidentFund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvidentFundDepositInfo">
      <soap:operation soapAction="http://tempuri.org/IDataTransformService/GetProvidentFundDepositInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvidentFundLoanInfo">
      <soap:operation soapAction="http://tempuri.org/IDataTransformService/GetProvidentFundLoanInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvidentFundRepayInfo">
      <soap:operation soapAction="http://tempuri.org/IDataTransformService/GetProvidentFundRepayInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCheckCode">
      <soap:operation soapAction="http://tempuri.org/IDataTransformService/SendCheckCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataTransformService">
    <wsdl:port name="BasicHttpBinding_IDataTransformService" binding="tns:BasicHttpBinding_IDataTransformService">
      <soap:address location="http://localhost/SelectProvidentFundService/DataTransformService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>