CityService/CityService.Service.Controllers/Service References/DateTransformServiceReference/DataTransformService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SelectProvidentFundService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SelectProvidentFundService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CheckCodeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckCodeResult" nillable="true" type="tns:CheckCodeResult" />
</xs:schema>